In [2]:
import pandas as pd
import sqlalchemy

engine = sqlalchemy.create_engine("postgresql://trobin:mysecretpassword@localhost:5432/piscineds")
with engine.connect() as connection:
    df_items = pd.read_sql_table('items', connection)

In [3]:
# To better display duplicates
df_items.sort_values('product_id', inplace=True)
print(df_items.head(2))
print(df_items.tail(2))

   product_id          category_id category_code brand
0        3752  1487580005411062500          None   cnd
1        3762  1487580005411062500          None   cnd
       product_id          category_id category_code   brand
54041     5932585  1487580008800059400          None  masura
54042     5932595  1487580013950665000          None    None

So you can see remove duplicates is tricky.
We cannot just `df_items.drop_duplicates(subset='product_id')`.
This will keep the first occurence of the duplicate, and this might not be the best occurence to keep, since it might lack of data in some columns where subsequent duplicates don't.

With `sort_values()`, `NaN` and `None` will always be placed at the end.
(Wheter you sort by ascending or descending order: to do so they will be respectively threated in those cases as the lowest and the biggest values.)
That's why we first sort_values(): to put each `NaN` or `None` cells below, since `drop_duplicates()` by default will keep the first duplicate.

In [4]:
print(df_items.columns.tolist())

a = df_items.sort_values(df_items.columns.tolist())
print(a.head(4))

b = a.drop_duplicates(subset='product_id')
print(b.head(4))

['product_id', 'category_id', 'category_code', 'brand']
   product_id          category_id category_code brand
0        3752  1487580005411062500          None   cnd
1        3762  1487580005411062500          None   cnd
2        3763  1487580005411062500          None   cnd
3        3771  1487580005411062500          None  None
   product_id          category_id category_code brand
0        3752  1487580005411062500          None   cnd
1        3762  1487580005411062500          None   cnd
2        3763  1487580005411062500          None   cnd
3        3771  1487580005411062500          None  None

However, there is a tricky case, when we got something like:

In [5]:
df = pd.DataFrame({
    'product_id': [1, 1],
    'category_id': [None, 42],
    'brand': ['foo', None]
})
print(df)

   product_id  category_id brand
0           1          NaN   foo
1           1         42.0  None

Here, the question is which row should be keep. More generally, it is to set a priority scale between columns data (here between `category_id` and `brand`).

In [6]:
# priority is defined by elements order (from left to right) of the `by=` list
a = df.sort_values(by=['category_id', 'brand'])
b = df.sort_values(by=['brand', 'category_id'])

print(a)
print(b)

a.drop_duplicates(subset='product_id', inplace=True)
b.drop_duplicates(subset='product_id', inplace=True)

print(a)
print(b)

   product_id  category_id brand
1           1         42.0  None
0           1          NaN   foo
   product_id  category_id brand
0           1          NaN   foo
1           1         42.0  None
   product_id  category_id brand
1           1         42.0  None
   product_id  category_id brand
0           1          NaN   foo

Here is the solution to not lose any information: merge some rows.

In [7]:
print(df.groupby('product_id', as_index=False).first())

   product_id  category_id brand
0           1         42.0   foo